node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types

privateKey.txt
publicKey.txt
# Hardhat files
cache
# artifacts
# types

# Hardhat Ignition deployments (contains deployment records)
# ignition/deployments/
ignition/network-chain-ids.json

# Tron Package
src/js/metacoin-config.js


