node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types

privateKey.txt
publicKey.txt
# Hardhat files
cache
# artifacts

# Tron Package
src/js/metacoin-config.js

# TronBox subfolder: symlinks + build (recreated by postinstall / tronbox)
tron-deploy/contracts
tron-deploy/node_modules
tron-deploy/build


