{
  "openapi": "3.1.0",
  "info": {
    "title": "Full Node HTTP API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.shasta.trongrid.io"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/wallet/getnowblock": {
      "post": {
        "summary": "GetNowBlock",
        "description": "Query the latest block information",
        "operationId": "wallet-getnowblock",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000080f82038aa301eda07eb27906589dd849d1c9ba5d84af94cf038\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":33016,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"41928c9af0651632157ef27a2cf17ca72c575a4d21\",\n         \"parentHash\":\"00000000000080f7b502cb572e67f3ad8e75558c0cd64f54cc7c0697f08000a0\",\n         \"version\":3,\n         \"timestamp\":1536713433000\n      },\n      \"witness_signature\":\"917101db1a7f9252fa3fef139acc07153876b0a4a46e57a235f9b1578bb6da2f12d1a4bc09350e3c5b609353876ffdd581bd903ce31304e42066e363853cf77d00\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000080f82038aa301eda07eb27906589dd849d1c9ba5d84af94cf038"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 33016,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "41928c9af0651632157ef27a2cf17ca72c575a4d21"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000080f7b502cb572e67f3ad8e75558c0cd64f54cc7c0697f08000a0"
                            },
                            "version": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1536713433000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "917101db1a7f9252fa3fef139acc07153876b0a4a46e57a235f9b1578bb6da2f12d1a4bc09350e3c5b609353876ffdd581bd903ce31304e42066e363853cf77d00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getnowblock', function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/createtransaction": {
      "post": {
        "summary": "CreateTransaction",
        "description": "Create a TRX transfer transaction. If to_address does not exist, then create the account on the blockchain.",
        "operationId": "createtransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner_address is the transfer address, converted to a hex string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "to_address": {
                    "type": "string",
                    "description": "To_address is the transfer address, converted to a hex string",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount is the transfer amount,the unit is sun",
                    "default": 1000,
                    "format": "int64"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional.Whehter the address is in base58 format.",
                    "default": true
                  },
                  "extra_data": {
                    "type": "string",
                    "description": "Optional,  totes on the transaction, HEX format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/createtransaction', {\"to_address\": \"41e9d79cc47518930bc322d9bf7cddd260a0260a8d\", \"owner_address\": \"41D1E7A6BC354106CB410E65FF8B181C600FF14292\", \"amount\": 1000 }, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbynum": {
      "post": {
        "summary": "GetBlockByNum",
        "description": "Returns the Block Object corresponding to the 'Block Height' specified (number of blocks preceding it).",
        "operationId": "wallet-getblockbynum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "num is the block height",
                    "default": 200,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":200,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"411661f25387370c9cd3a9a5d97e60ca90f4844e7e\",\n         \"parentHash\":\"00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4\",\n         \"timestamp\":1529892138000\n      },\n      \"witness_signature\":\"691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "411661f25387370c9cd3a9a5d97e60ca90f4844e7e"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1529892138000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbynum', {\"num\" : 100}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/easytransfer": {
      "post": {
        "summary": "EasyTransfer",
        "description": "This interface has been deprecated.",
        "operationId": "easytransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passPhrase",
                  "toAddress",
                  "amount"
                ],
                "properties": {
                  "passPhrase": {
                    "type": "string",
                    "description": "Password converted from ascii to hex"
                  },
                  "toAddress": {
                    "type": "string",
                    "description": "Recipient address converted into a hex string"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of TRX to transfer expressed in SUN.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/updateaccount": {
      "post": {
        "summary": "UpdateAccount",
        "description": "Modify account name",
        "operationId": "updateaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner_address is the account address to be modified, converted to a hex string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Account_name is the name of the account, converted to a hex string",
                    "default": "0x7570646174654e616d6531353330383933343635353139"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional,for multi-signature use",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/generateaddress": {
      "get": {
        "summary": "GenerateAddress",
        "description": "Generate a random private key and address. This API has been deprecated, please generate address offline.",
        "operationId": "generateaddress",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"privateKey\":\"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\",\"address\":\"TDp4x8kCJ6aHz8wnqZgkaVQAm2ajH1og3L\",\"hexAddress\":\"412a260a110bc7b03f19c40a0bd04ff2c5dcb57594\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "privateKey": {
                      "type": "string",
                      "example": "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
                    },
                    "address": {
                      "type": "string",
                      "example": "TDp4x8kCJ6aHz8wnqZgkaVQAm2ajH1og3L"
                    },
                    "hexAddress": {
                      "type": "string",
                      "example": "412a260a110bc7b03f19c40a0bd04ff2c5dcb57594"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createaddress": {
      "post": {
        "summary": "CreateAddress",
        "description": "Creates an address from the specified password string (not the private key).This interface has been deprecated, please generate address offline.",
        "operationId": "createaddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "value is the password, converted from ascii to hex. i.e. the pass phrase.",
                    "default": "7465737470617373776f7264"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"base58checkAddress\":\"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb\",\n  \"value\":\"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "base58checkAddress": {
                      "type": "string",
                      "example": "T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb"
                    },
                    "value": {
                      "type": "string",
                      "example": "T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/listwitnesses": {
      "get": {
        "summary": "ListWitnesses",
        "description": "List all Super Representatives.",
        "operationId": "listwitnesses",
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/updateasset": {
      "post": {
        "summary": "UpdateAsset",
        "description": "Update basic TRC10 token information.",
        "operationId": "wallet-updateasset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "The issuers address of the token, default hexString",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of token, default hexString"
                  },
                  "url": {
                    "type": "string",
                    "description": "The token's website url, default hexString"
                  },
                  "new_limit": {
                    "type": "integer",
                    "description": "Each token holder's free bandwidth",
                    "format": "int32"
                  },
                  "new_public_limit": {
                    "type": "integer",
                    "description": "The total free bandwidth of the token",
                    "format": "int32"
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional, Whether the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getassetissuebyaccount": {
      "post": {
        "summary": "GetAssetIssueByAccount",
        "description": "Query the TRC10 token information issued by an account.",
        "operationId": "getassetissuebyaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Address is the Token Issuer account address",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Defaults to false. Whether addresses are in base58check format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getaccountnet": {
      "post": {
        "summary": "GetAccountNet",
        "description": "Query bandwidth information.",
        "operationId": "getaccountnet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address, converted to a hex string.",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/listnodes": {
      "get": {
        "summary": "ListNodes",
        "description": "Query the list of nodes connected to the API node",
        "operationId": "wallet-listnodes",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/listnodes', function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbyid": {
      "post": {
        "summary": "GetBlockById",
        "description": "Query block by ID(block hash).",
        "operationId": "getblockbyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Block ID",
                    "default": "00000000000f424013e51b18e0782a32fa079ddafdb2f4c343468cf8896dc887"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":200,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"411661f25387370c9cd3a9a5d97e60ca90f4844e7e\",\n         \"parentHash\":\"00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4\",\n         \"timestamp\":1529892138000\n      },\n      \"witness_signature\":\"691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "411661f25387370c9cd3a9a5d97e60ca90f4844e7e"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1529892138000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbyid', {\"value\": \"0000000000038809c59ee8409a3b6c051e369ef1096603c7ee723c16e2376c73\"}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getassetissuebyid": {
      "post": {
        "summary": "GetAssetIssueById",
        "description": "Query a token by token id. Returns the token object, which contains the token name.",
        "operationId": "getassetissuebyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "integer",
                    "description": "The ID of the TRC10 token.",
                    "default": 1000001,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/gettransactionbyid": {
      "post": {
        "summary": "GetTransactionById",
        "description": "Query transaction information by transaction id.",
        "operationId": "wallet-gettransactionbyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Transaction ID",
                    "default": "7c2d4206c03a883dd9066d620335dc1be272a8dc733cfa3f6d10308faa37facc"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Response": {
                    "value": "// Example API Call Response\n\n{  \n   \"ret\":[  \n      {  \n         \"contractRet\":\"SUCCESS\"\n      }\n   ],\n   \"signature\":[  \n      \"ffbf691a89d95f6ad8175611c7d334c8159b95ff9c1e83872e7670103b185e85faf0a394b23d99581385d38038ab5c4684759c864a5621009f6e95da0a5feab501\"\n   ],\n   \"txID\":\"d0807adb3c5412aa150787b944c96ee898c997debdc27e2f6a643c771edb5933\",\n   \"raw_data\":{  \n      \"contract\":[  \n         {  \n            \"parameter\":{  \n               \"value\":{  \n                  \"amount\":16,\n                  \"asset_name\":\"54726f6e696373\",\n                  \"owner_address\":\"414a5fe0179f2dd9c900194e63d661863cd0ade7b0\",\n                  \"to_address\":\"41718de6b323652d1257437ace160c4f4198aae4e1\"\n               },\n               \"type_url\":\"type.googleapis.com/protocol.TransferAssetContract\"\n            },\n            \"type\":\"TransferAssetContract\"\n         }\n      ],\n      \"ref_block_bytes\":\"6bdd\",\n      \"ref_block_hash\":\"1616edaf3a57fe19\",\n      \"expiration\":1546455678000,\n      \"timestamp\":1546455620175\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "ret": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contractRet": {
                            "type": "string",
                            "example": "SUCCESS"
                          }
                        }
                      }
                    },
                    "signature": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ffbf691a89d95f6ad8175611c7d334c8159b95ff9c1e83872e7670103b185e85faf0a394b23d99581385d38038ab5c4684759c864a5621009f6e95da0a5feab501"
                      }
                    },
                    "txID": {
                      "type": "string",
                      "example": "d0807adb3c5412aa150787b944c96ee898c997debdc27e2f6a643c771edb5933"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "integer",
                                        "example": 16,
                                        "default": 0
                                      },
                                      "asset_name": {
                                        "type": "string",
                                        "example": "54726f6e696373"
                                      },
                                      "owner_address": {
                                        "type": "string",
                                        "example": "414a5fe0179f2dd9c900194e63d661863cd0ade7b0"
                                      },
                                      "to_address": {
                                        "type": "string",
                                        "example": "41718de6b323652d1257437ace160c4f4198aae4e1"
                                      }
                                    }
                                  },
                                  "type_url": {
                                    "type": "string",
                                    "example": "type.googleapis.com/protocol.TransferAssetContract"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "TransferAssetContract"
                              }
                            }
                          }
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "example": "6bdd"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "example": "1616edaf3a57fe19"
                        },
                        "expiration": {
                          "type": "integer",
                          "example": 1546455678000,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1546455620175,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/gettransactionbyid', {\"value\": \"d5ec749ecc2a615399d8a6c864ea4c74ff9f523c2be0e341ac9be5d47d7c2d62\"}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getassetissuelist": {
      "get": {
        "summary": "GetAssetIssueList",
        "description": "Query the list of all the TRC10 tokens.",
        "operationId": "getassetissuelist",
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getblockbylimitnext": {
      "post": {
        "summary": "GetBlockByLimitNext",
        "description": "Returns the list of Block Objects included in the 'Block Height' range specified.",
        "operationId": "getblockbylimitnext",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startNum": {
                    "type": "integer",
                    "description": "Starting block height, including this block.",
                    "default": 1,
                    "format": "int32"
                  },
                  "endNum": {
                    "type": "integer",
                    "description": "Ending block height, excluding that block.",
                    "default": 5,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbylimitnext', {\"startNum\":1, \"endNum\":2}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbylatestnum": {
      "post": {
        "summary": "GetBlockByLatestNum",
        "description": "Returns a list of block objects.",
        "operationId": "wallet-getblockbylatestnum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "The number of blocks to query",
                    "default": 5,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbylatestnum', {\"num\":5}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getnextmaintenancetime": {
      "get": {
        "summary": "GetNextMaintenanceTime",
        "description": "Returns the timestamp of the next voting time in milliseconds.",
        "operationId": "getnextmaintenancetime",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"num\": 1591099200000}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "num": {
                      "type": "integer",
                      "example": 1591099200000,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/exchangeinject": {
      "post": {
        "summary": "ExchangeInject",
        "description": "Injects capital into the transaction. The purpose of injecting capital into the trading pair is to prevent price fluctuation from affecting the transaction.",
        "operationId": "exchangeinject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Transaction to the creator's address in hexString format",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "exchange_id": {
                    "type": "integer",
                    "description": "Transaction Pair ID",
                    "default": 12,
                    "format": "int32"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "Token ID; usually is the token name, which needs to be in hexString format.",
                    "default": "31303030343837"
                  },
                  "quant": {
                    "type": "integer",
                    "description": "Number of capital injection tokens.",
                    "default": 100,
                    "format": "int32"
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional,for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/validateaddress": {
      "post": {
        "summary": "ValidateAddress",
        "description": "Validates address, returns either true or false.",
        "operationId": "validateaddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Address should be in base58checksum, hexString, or base64 format.",
                    "default": "TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"result\":true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getpaginatedassetissuelist": {
      "post": {
        "summary": "GetPaginatedAssetIssueList",
        "description": "Query the list of all the tokens by pagination.Returns a list of Tokens that succeed the Token located at offset.",
        "operationId": "getpaginatedassetissuelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "description": "The index of the start token",
                    "default": 0,
                    "format": "int32"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The amount of tokens per page",
                    "default": 20,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/exchangewithdraw": {
      "post": {
        "summary": "ExchangeWithdraw",
        "description": "Withdraws the transaction pair.",
        "operationId": "exchangewithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of the transaction to the creator, in hexString format",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "exchange_id": {
                    "type": "integer",
                    "description": "Transaction Pair ID",
                    "default": 12,
                    "format": "int32"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "Token ID in hexString format; Usually is the token name.",
                    "default": "31303030343837"
                  },
                  "quant": {
                    "type": "integer",
                    "description": "Number of tokens divested.",
                    "default": 100,
                    "format": "int32"
                  },
                  "permission_id": {
                    "type": "string",
                    "description": "Optional,for multi-signature use"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getexchangebyid": {
      "post": {
        "summary": "GetExchangeById",
        "description": "Query exchange pair based on id",
        "operationId": "wallet-getexchangebyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Transaction Pair ID",
                    "default": 1,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/exchangetransaction": {
      "post": {
        "summary": "ExchangeTransaction",
        "description": "Participate the transaction of exchange pair",
        "operationId": "exchangetransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Trader's wallet address, in hex string format. This wallet contains the tokens you wish to sell, in order to gain the other token.",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "exchange_id": {
                    "type": "integer",
                    "description": "Transaction Pair ID",
                    "default": 12,
                    "format": "int32"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "ID of the sold token, in hexString format. For example, if you wanted to trade TRX for another token, then the TRX id of \"5f\" goes in this parameter.",
                    "default": "31303030343837"
                  },
                  "quant": {
                    "type": "integer",
                    "description": "Quantity of the token being sold. If TRX being sold, need to express in units of SUN.",
                    "default": 100,
                    "format": "int32"
                  },
                  "expected": {
                    "type": "integer",
                    "description": "Expected quantity of the token being purchased.",
                    "default": 10,
                    "format": "int32"
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional,for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/listexchanges": {
      "get": {
        "summary": "ListExchanges",
        "description": "List all exchange pairs.",
        "operationId": "wallet-listexchanges",
        "parameters": [
          {
            "name": "visible",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/proposalcreate": {
      "post": {
        "summary": "ProposalCreate",
        "description": "Creates a proposal transaction.",
        "operationId": "proposalcreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of the transaction creator",
                    "default": "TCuM8e98jmPwT1RU2jW7dekUC5HpXbGzFG"
                  },
                  "parameters": {
                    "type": "string",
                    "description": "Proposal parameters",
                    "default": "[{\"key\": 0,\"value\": 100000},{\"key\": 1,\"value\": 2}]",
                    "format": "json"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional.Whehter the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/proposalcreate', {\"owner_address\":\"419844F7600E018FD0D710E2145351D607B3316CE9\",\"parameters\":[{\"key\": 0,\"value\": 100000},{\"key\": 1,\"value\": 2}]}, function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getproposalbyid": {
      "post": {
        "summary": "GetProposalById",
        "description": "Queries proposal based on ID and returns proposal details.",
        "operationId": "getproposalbyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getproposalbyid', {\"id\":1}, function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/listproposals": {
      "get": {
        "summary": "ListProposals",
        "description": "List all proposals.",
        "operationId": "wallet-listproposals",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/listproposals', function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/proposalapprove": {
      "post": {
        "summary": "ProposalApprove",
        "description": "Approves proposed transaction.",
        "operationId": "proposalapprove",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Approver address",
                    "default": "TUeTYVYJFfmBj3hVyopAZB97yc432Aay4N"
                  },
                  "proposal_id": {
                    "type": "integer",
                    "description": "Proposal ID",
                    "default": 89,
                    "format": "int32"
                  },
                  "is_add_approval": {
                    "type": "boolean",
                    "description": "Approved",
                    "default": true
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional.Whehter the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/proposalapprove', {\"owner_address\" : \"419844F7600E018FD0D710E2145351D607B3316CE9\", \"proposal_id\":1, \"is_add_approval\":true}, function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/proposaldelete": {
      "post": {
        "summary": "ProposalDelete",
        "description": "Deletes Proposal Transaction.",
        "operationId": "proposaldelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of proposal owner.",
                    "default": "TCuM8e98jmPwT1RU2jW7dekUC5HpXbGzFG"
                  },
                  "proposal_id": {
                    "type": "integer",
                    "description": "Proposal ID",
                    "default": 89,
                    "format": "int32"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional.Whehter the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/proposaldelete', {\"owner_address\" : \"419844F7600E018FD0D710E2145351D607B3316CE9\", \"proposal_id\":1}, function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getaccount": {
      "post": {
        "summary": "GetAccount",
        "description": "Query information about an account, including TRX balance, TRC-10 balances, stake information and vote information and permissions etc.",
        "operationId": "account-getaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "address should be converted to a hex string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/gettransactionsign": {
      "post": {
        "summary": "GetTransactionSign",
        "description": "Sign the transaction, it is recommended to sign transactions offline.",
        "operationId": "gettransactionsign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction",
                  "privateKey"
                ],
                "properties": {
                  "transaction": {
                    "type": "object",
                    "description": "Transaction is a contract created by http api",
                    "properties": {
                      "txID": {
                        "type": "string"
                      },
                      "visible": {
                        "type": "boolean"
                      },
                      "raw_data": {
                        "type": "string",
                        "default": "{\"contract\":[{\"parameter\":{\"value\":{\"amount\":1000,\"owner_address\":\"41608f8da72479edc7dd921e4c30bb7e7cddbe722e\",\"to_address\":\"41e9d79cc47518930bc322d9bf7cddd260a0260a8d\"},\"type_url\":\"type.googleapis.com/protocol.TransferContract\"},\"type\":\"TransferContract\"}],\"ref_block_bytes\":\"5e4b\",\"ref_block_hash\":\"47c9dc89341b300d\",\"expiration\":1591089627000,\"timestamp\":1591089567635}",
                        "format": "json"
                      },
                      "raw_data_hex": {
                        "type": "string",
                        "default": "0a025e4b220847c9dc89341b300d40f8fed3a2a72e5a66080112620a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412310a1541608f8da72479edc7dd921e4c30bb7e7cddbe722e121541e9d79cc47518930bc322d9bf7cddd260a0260a8d18e8077093afd0a2a72e"
                      },
                      "signature": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "privateKey": {
                    "type": "string",
                    "description": "privateKey is the user private key",
                    "default": "your private key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallet/broadcasttransaction": {
      "post": {
        "summary": "BroadcastTransaction",
        "description": "Broadcast the signed transaction",
        "operationId": "broadcasttransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "object",
                    "properties": {
                      "txID": {
                        "type": "string"
                      },
                      "visible": {
                        "type": "boolean"
                      },
                      "raw_data": {
                        "type": "string",
                        "default": "{\"contract\":[{\"parameter\":{\"value\":{\"amount\":1000,\"owner_address\":\"41608f8da72479edc7dd921e4c30bb7e7cddbe722e\",\"to_address\":\"41e9d79cc47518930bc322d9bf7cddd260a0260a8d\"},\"type_url\":\"type.googleapis.com/protocol.TransferContract\"},\"type\":\"TransferContract\"}],\"ref_block_bytes\":\"5e4b\",\"ref_block_hash\":\"47c9dc89341b300d\",\"expiration\":1591089627000,\"timestamp\":1591089567635}",
                        "format": "json"
                      },
                      "raw_data_hex": {
                        "type": "string",
                        "default": "0a025e4b220847c9dc89341b300d40f8fed3a2a72e5a66080112620a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412310a1541608f8da72479edc7dd921e4c30bb7e7cddbe722e121541e9d79cc47518930bc322d9bf7cddd260a0260a8d18e8077093afd0a2a72e"
                      },
                      "signature": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Response": {
                    "value": "// Example Output\n\n{\"result\": true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createwitness": {
      "post": {
        "summary": "CreateWitness",
        "description": "Apply to become a witness.",
        "operationId": "createwitness",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "url": {
                    "type": "string",
                    "description": "Website url, default hexString",
                    "default": "007570646174654e616d6531353330363038383733343633"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional, Whether the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/votewitnessaccount": {
      "post": {
        "summary": "VoteWitnessAccount",
        "description": "Vote for witnesses",
        "operationId": "votewitnessaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "votes": {
                    "type": "array",
                    "description": "'vote_address' stands for the address of the witness you want to vote, default hexString, 'vote_count' stands for the number of votes you want to vote",
                    "items": {
                      "properties": {
                        "vote_address": {
                          "type": "string",
                          "default": "41e552f6487585c2b58bc2c9bb4492bc1f17132cd0"
                        },
                        "vote_count": {
                          "type": "integer",
                          "default": 0,
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional, Whether the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createaccount": {
      "post": {
        "summary": "CreateAccount",
        "description": "Activate an account. Uses an already activated account to activate a new account. Users have to generate an account locally with wallet-cli or others SDKs like TronWeb, and then use this API to activate the account generated, or just simply transfer TRX to it.",
        "operationId": "account-createaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner_address is an activated account，converted to a hex String.If the owner_address has enough bandwidth obtained by freezing TRX, then creating an account will only consume bandwidth , otherwise, 0.1 TRX will be burned to pay for bandwidth, and at the same time, 1 TRX will be required to be created.",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "account_address": {
                    "type": "string",
                    "description": "account_address is the address of the new account, converted to a hex string, this address needs to be calculated in advance",
                    "default": "TFgY1uN8buRxAtV2r6Zy5sG3ACko6pJT1y"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional,whether the address is in base58 format",
                    "default": true
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional,for multi-signature use",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/transferasset": {
      "post": {
        "summary": "TransferAsset",
        "description": "Transfer TRC10 token.",
        "operationId": "transferasset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "to_address": {
                    "type": "string",
                    "description": "receiving address, default hexString",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "asset_name": {
                    "type": "string",
                    "description": "Token id, default hexString",
                    "default": "31303030303031"
                  },
                  "amount": {
                    "type": "integer",
                    "default": null,
                    "format": "int64"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional, Whether the address is in base58 format.",
                    "default": true
                  },
                  "extra_data": {
                    "type": "string",
                    "description": "Optional,  totes on the transaction, HEX format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/participateassetissue": {
      "post": {
        "summary": "ParticipateAssetIssue",
        "description": "Participate in an asset issue.",
        "operationId": "participateassetissue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to_address": {
                    "type": "string",
                    "default": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1"
                  },
                  "owner_address": {
                    "type": "string",
                    "description": "The participant address, default hexString",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "The number of trx participating in token issuance",
                    "format": "int64"
                  },
                  "asset_name": {
                    "type": "string",
                    "description": "Token id, default hexString",
                    "default": "1000001031303030303031"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional, Whether the address is in base58 format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createassetissue": {
      "post": {
        "summary": "CreateAssetIssue",
        "description": "Issue a TRC10 token.",
        "operationId": "createassetissue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "name": {
                    "type": "string",
                    "description": "Token name, default hexString",
                    "default": "0x6173736574497373756531353330383934333132313538"
                  },
                  "abbr": {
                    "type": "string",
                    "default": "0x6162627231353330383934333132313538"
                  },
                  "total_supply": {
                    "type": "integer",
                    "description": "Token total supply",
                    "format": "int64"
                  },
                  "trx_num": {
                    "type": "integer",
                    "description": "Define the price by the ratio of trx_num/num(The unit of 'trx_num' is SUN)",
                    "format": "int64"
                  },
                  "num": {
                    "type": "integer",
                    "description": "Define the price by the ratio of trx_num/num",
                    "format": "int64"
                  },
                  "start_time": {
                    "type": "integer",
                    "description": "ICO start time",
                    "format": "int64"
                  },
                  "end_time": {
                    "type": "integer",
                    "description": "ICO end time",
                    "format": "int64"
                  },
                  "description": {
                    "type": "string",
                    "description": "Token description, default hexString",
                    "default": "0x4578616d706c654465736372697074696f6e"
                  },
                  "url": {
                    "type": "string",
                    "description": "Token official website url, default hexString",
                    "default": "0x7777772e6578616d706c652e636f6d"
                  },
                  "free_asset_net_limit": {
                    "type": "integer",
                    "description": "Token free asset net limit",
                    "format": "int64"
                  },
                  "public_free_asset_net_limit": {
                    "type": "integer",
                    "description": "Token public free asset net limit",
                    "format": "int64"
                  },
                  "frozen_supply": {
                    "type": "string",
                    "description": "Token frozen supply",
                    "default": "{\"frozen_amount\":1,\"frozen_days\":2}",
                    "format": "json"
                  },
                  "precision": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/freezebalance": {
      "post": {
        "summary": "FreezeBalance",
        "description": "This interface has been deprecated, please use [FreezeBalanceV2](/reference/freezebalancev2-1) to stake TRX to obtain resources.",
        "operationId": "account-resources-freezebalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "frozen_balance": {
                    "type": "integer",
                    "description": "TRX stake amount, the unit is sun",
                    "default": 10000000,
                    "format": "int64"
                  },
                  "frozen_duration": {
                    "type": "integer",
                    "description": "Lock-up duration for this stake, now the value can only be 3 days. It is not allowed to unstake within 3 days after the stake. You can unstake TRX after the 3 lock-up days",
                    "default": 3,
                    "format": "int32"
                  },
                  "resource": {
                    "type": "string",
                    "description": "TRX stake type, 'BANDWIDTH' or 'ENERGY'",
                    "default": "ENERGY"
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Optional,the address that will receive the resource, default hexString"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional, for multi-signature use",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Defaults to false. Whether addresses are in base58check format.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/unfreezebalance": {
      "post": {
        "summary": "UnfreezeBalance",
        "description": "Unstake the TRX staked during Stake1.0, release the obtained bandwidth or energy and TP. This operation will cause automatically cancel all votes.",
        "operationId": "account-resources-unfreezebalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Stake TRX for 'BANDWIDTH' or 'ENERGY'",
                    "default": "BANDWIDTH"
[...]
